nav{
    display: flex;
    align-items: center;
   justify-content: space-between;
}
footer{
    margin-top: 40px;
    border-top: 5px solid gray;
    background-color: black;
    color: white;
    padding: 30px 100px;
}
footer h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer.services{
    margin-top: -10px;
    display: flex;
    flex-wrap: wrap;
}
footer.services.service{
    margin-right: 30px;
}
footer.services.service p{
    max-width: 300px;
    padding: 10px;
}
footer #contact{
    color: gray;
}


